# Ignore GENIE repo and support repo.
# GitHub repo structures
GENIE
# "Old" GitHub repo structures
GENIE_*
GENIESupport
# HepForge SVN
R-2_*
trunk

# Ignore (default) environment configuration script.
environment_setup.sh

# editor detritus
.*.swp
*~

# Ignore any downloaded data
data

# Ignore any files from the test run
genie-mcjob-*.status
gntp.*.ghep.root
input-flux.root
run_log.txt

# Ignore the local runs package (if present)
genie_runs
