# Ignore GENIE repo and support repo.
GENIE_*
GENIESupport

# Ignore (default) environment configuration script.
environment_setup.sh

# editor detritus
.*.swp
*~

# Ignore any downloaded data
data

# Ignore any files from the test run
genie-mcjob-0.status
gntp.0.ghep.root
input-flux.root
run_log.txt

# Ignore the local runs package (if present)
genie_runs
